## 업종등록 데이터

In [1]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
import pandas as pd
seoul_business=pd.read_csv('1.4 business_type.csv',sep=',',encoding='UTF-8')

In [2]:
# 데이터 프레임의 Shape을 확인합니다.
seoul_business.shape

(451, 22)

---

# 2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [실습문제2] 기본 정보 확인하기
* 'seoul_moving' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head' 등 전부 활용해 보겠습니다.

In [4]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   자치구           451 non-null    object
 1   동             451 non-null    object
 2   다수업종 상위10     451 non-null    object
 3   다수업종 상위10.1   451 non-null    object
 4   다수업종 상위10.2   451 non-null    object
 5   다수업종 상위10.3   451 non-null    object
 6   다수업종 상위10.4   451 non-null    object
 7   다수업종 상위10.5   451 non-null    object
 8   다수업종 상위10.6   451 non-null    object
 9   다수업종 상위10.7   451 non-null    object
 10  다수업종 상위10.8   451 non-null    object
 11  다수업종 상위10.9   451 non-null    object
 12  다수업종 상위10.10  451 non-null    object
 13  다수업종 상위10.11  451 non-null    object
 14  다수업종 상위10.12  451 non-null    object
 15  다수업종 상위10.13  451 non-null    object
 16  다수업종 상위10.14  451 non-null    object
 17  다수업종 상위10.15  451 non-null    object
 18  다수업종 상위10.16  451 non-null    object
 19  다수업종 상위10.17  451 non-null    object
 20  다수업종 상위10.18  451 non-null    object
 21  다수업종 상위10.19  451 non-null    object
dtypes: object(22)
memory usage: 77.6+ KB

In [6]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

seoul_business.head(10)

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
5,종로구,삼청동,5,5,42,145,4,4,9,10,...,66,243,2,3,3,8,-,-,7,33
6,종로구,부암동,22,22,26,100,9,9,17,26,...,24,62,3,6,7,23,16,59,3,15
7,종로구,평창동,10,10,31,116,11,11,33,52,...,19,62,2,4,26,54,25,71,10,103
8,종로구,무악동,10,10,10,26,410,416,12,17,...,7,15,-,-,-,-,14,50,1,2
9,종로구,교남동,14,14,14,44,7,7,26,37,...,13,55,-,-,1,1,5,22,3,15

#### [실습문제3] 데이터 확인 및 처리

* 데이터를 보았을때, 어느 데이터를 가져와야 할지 생각 해 봅시다.

In [3]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

# 1행을 열이름으로 지정
seoul_business=pd.read_csv('1.4 business_type.csv',sep=',',encoding='UTF-8',header=1)

In [4]:
seoul_business.head(10)

,자치구,동,택시운송업,택시운송업.1,한식 일반 음식점업,한식 일반 음식점업.1,용달 화물자동차 운송업,용달 화물자동차 운송업.1,부동산 중개 및 대리업,부동산 중개 및 대리업.1,...,커피전문점,커피전문점.1,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업.1,기타주점업,기타주점업.1,일반 교과 학원,일반 교과 학원.1,한식 육류요리 전문점,한식 육류요리 전문점.1
0,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
1,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
2,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
3,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
4,종로구,삼청동,5,5,42,145,4,4,9,10,...,66,243,2,3,3,8,-,-,7,33
5,종로구,부암동,22,22,26,100,9,9,17,26,...,24,62,3,6,7,23,16,59,3,15
6,종로구,평창동,10,10,31,116,11,11,33,52,...,19,62,2,4,26,54,25,71,10,103
7,종로구,무악동,10,10,10,26,410,416,12,17,...,7,15,-,-,-,-,14,50,1,2
8,종로구,교남동,14,14,14,44,7,7,26,37,...,13,55,-,-,1,1,5,22,3,15
9,종로구,가회동,9,9,57,270,7,7,16,23,...,46,133,2,2,5,9,3,10,6,21

In [163]:
print(seoul_business.loc[0])

자치구                   자치구
동                       동
택시운송업                사업체수
택시운송업.1              종사자수
한식 일반 음식점업           사업체수
한식 일반 음식점업.1         종사자수
용달 화물자동차 운송업         사업체수
용달 화물자동차 운송업.1       종사자수
부동산 중개 및 대리업         사업체수
부동산 중개 및 대리업.1       종사자수
두발미용업                사업체수
두발미용업.1              종사자수
커피전문점                사업체수
커피전문점.1              종사자수
남녀용 겉옷 및 셔츠 도매업      사업체수
남녀용 겉옷 및 셔츠 도매업.1    종사자수
기타주점업                사업체수
기타주점업.1              종사자수
일반 교과 학원             사업체수
일반 교과 학원.1           종사자수
한식 육류요리 전문점          사업체수
한식 육류요리 전문점.1        종사자수
Name: 0, dtype: object

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

# 열 이름 변경
seoul_business.rename(columns={'택시운송업':'택시운송업 사업체수',
                               '택시운송업.1':'택시운송업 종사자수',
                               '한식 일반 음식점업':'한식 일반 음식점업 사업체수',
                               '한식 일반 음식점업.1':'한식 일반 음식점업 종사자수',
                               '용달 화물자동차 운송업':'용달 화물자동차 운송업 사업체수',
                               '용달 화물자동차 운송업.1':'용달 화물자동차 운송업 종사자수',
                               '부동산 중개 및 대리업':'부동산 중개 및 대리업 사업체수',
                               '부동산 중개 및 대리업.1':'부동산 중개 및 대리업 종사자수',
                               '두발미용업':'두발미용업 사업체수',
                               '두발미용업.1':'두발미용업 종사자수',
                               '커피전문점':'커피전문점 사업체수',
                               '커피전문점.1':'커피전문점 종사자수',
                               '남녀용 겉옷 및 셔츠 도매업':'남녀용 겉옷 및 셔츠 도매업 사업체수',
                               '남녀용 겉옷 및 셔츠 도매업.1':'남녀용 겉옷 및 셔츠 도매업 종사자수',
                               '기타주점업':'기타주점업 사업체수',
                               '기타주점업.1':'기타주점업 종사자수',
                               '일반 교과 학원':'일반 교과 학원 사업체수',
                               '일반 교과 학원.1':'일반 교과 학원 종사자수',
                               '한식 육류요리 전문점':'한식 육류요리 전문점 사업체수',
                               '한식 육류요리 전문점.1':'한식 육류요리 전문점 종사자수'},inplace=True)

In [6]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_business.columns

Index(['자치구', '동', '택시운송업 사업체수', '택시운송업 종사자수', '한식 일반 음식점업 사업체수',
       '한식 일반 음식점업 종사자수', '용달 화물자동차 운송업 사업체수', '용달 화물자동차 운송업 종사자수',
       '부동산 중개 및 대리업 사업체수', '부동산 중개 및 대리업 종사자수', '두발미용업 사업체수', '두발미용업 종사자수',
       '커피전문점 사업체수', '커피전문점 종사자수', '남녀용 겉옷 및 셔츠 도매업 사업체수',
       '남녀용 겉옷 및 셔츠 도매업 종사자수', '기타주점업 사업체수', '기타주점업 종사자수', '일반 교과 학원 사업체수',
       '일반 교과 학원 종사자수', '한식 육류요리 전문점 사업체수', '한식 육류요리 전문점 종사자수'],
      dtype='object')

In [7]:
# 사업체, 종사자 수 행과 합계,소계 행 제거
seoul_business=seoul_business.drop([0,1,2])

In [8]:
seoul_business.head(10)

,자치구,동,택시운송업 사업체수,택시운송업 종사자수,한식 일반 음식점업 사업체수,한식 일반 음식점업 종사자수,용달 화물자동차 운송업 사업체수,용달 화물자동차 운송업 종사자수,부동산 중개 및 대리업 사업체수,부동산 중개 및 대리업 종사자수,...,커피전문점 사업체수,커피전문점 종사자수,남녀용 겉옷 및 셔츠 도매업 사업체수,남녀용 겉옷 및 셔츠 도매업 종사자수,기타주점업 사업체수,기타주점업 종사자수,일반 교과 학원 사업체수,일반 교과 학원 종사자수,한식 육류요리 전문점 사업체수,한식 육류요리 전문점 종사자수
3,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
4,종로구,삼청동,5,5,42,145,4,4,9,10,...,66,243,2,3,3,8,-,-,7,33
5,종로구,부암동,22,22,26,100,9,9,17,26,...,24,62,3,6,7,23,16,59,3,15
6,종로구,평창동,10,10,31,116,11,11,33,52,...,19,62,2,4,26,54,25,71,10,103
7,종로구,무악동,10,10,10,26,410,416,12,17,...,7,15,-,-,-,-,14,50,1,2
8,종로구,교남동,14,14,14,44,7,7,26,37,...,13,55,-,-,1,1,5,22,3,15
9,종로구,가회동,9,9,57,270,7,7,16,23,...,46,133,2,2,5,9,3,10,6,21
10,종로구,종로1.2.3.4가동,1,1,565,"2,396",3,11,111,271,...,284,"1,360",210,376,237,674,8,50,192,996
11,종로구,종로5·6가동,6,6,176,542,11,25,71,84,...,72,197,71,192,36,74,-,-,51,204
12,종로구,이화동,4,4,71,395,17,17,13,13,...,69,338,9,127,27,108,2,14,11,45

In [9]:
seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 3 to 449
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   자치구                   447 non-null    object
 1   동                     447 non-null    object
 2   택시운송업 사업체수            447 non-null    object
 3   택시운송업 종사자수            447 non-null    object
 4   한식 일반 음식점업 사업체수       447 non-null    object
 5   한식 일반 음식점업 종사자수       447 non-null    object
 6   용달 화물자동차 운송업 사업체수     447 non-null    object
 7   용달 화물자동차 운송업 종사자수     447 non-null    object
 8   부동산 중개 및 대리업 사업체수     447 non-null    object
 9   부동산 중개 및 대리업 종사자수     447 non-null    object
 10  두발미용업 사업체수            447 non-null    object
 11  두발미용업 종사자수            447 non-null    object
 12  커피전문점 사업체수            447 non-null    object
 13  커피전문점 종사자수            447 non-null    object
 14  남녀용 겉옷 및 셔츠 도매업 사업체수  447 non-null    object
 15  남녀용 겉옷 및 셔츠 도매업 종사자수  447 non-null    object
 16  기타주점업 사업체수            447 non-null    object
 17  기타주점업 종사자수            447 non-null    object
 18  일반 교과 학원 사업체수         447 non-null    object
 19  일반 교과 학원 종사자수         447 non-null    object
 20  한식 육류요리 전문점 사업체수      447 non-null    object
 21  한식 육류요리 전문점 종사자수      447 non-null    object
dtypes: object(22)
memory usage: 77.0+ KB

In [10]:
# groupby 연산을 위한 처리

# 구 열은 임시로 저장
seoul_business_gu=seoul_business['자치구']
seoul_business_gu=seoul_business_gu.reset_index(drop=True)

# 구와 동 열을 제거
seoul_business=seoul_business.drop(['동','자치구'],axis=1)

In [11]:
# '-'는 없는 것으로 판단, 0으로 치환
seoul_business=seoul_business.replace({'-':0})

In [12]:
seoul_business.head()

,택시운송업 사업체수,택시운송업 종사자수,한식 일반 음식점업 사업체수,한식 일반 음식점업 종사자수,용달 화물자동차 운송업 사업체수,용달 화물자동차 운송업 종사자수,부동산 중개 및 대리업 사업체수,부동산 중개 및 대리업 종사자수,두발미용업 사업체수,두발미용업 종사자수,커피전문점 사업체수,커피전문점 종사자수,남녀용 겉옷 및 셔츠 도매업 사업체수,남녀용 겉옷 및 셔츠 도매업 종사자수,기타주점업 사업체수,기타주점업 종사자수,일반 교과 학원 사업체수,일반 교과 학원 종사자수,한식 육류요리 전문점 사업체수,한식 육류요리 전문점 종사자수
3,7,7,230,982,12,12,57,96,28,66,124,525,2,18,74,177,9,34,45,220
4,5,5,42,145,4,4,9,10,0,0,66,243,2,3,3,8,0,0,7,33
5,22,22,26,100,9,9,17,26,8,10,24,62,3,6,7,23,16,59,3,15
6,10,10,31,116,11,11,33,52,19,28,19,62,2,4,26,54,25,71,10,103
7,10,10,10,26,410,416,12,17,9,10,7,15,0,0,0,0,14,50,1,2

In [13]:
seoul_business_gu

0      종로구
1      종로구
2      종로구
3      종로구
4      종로구
      ...
442    강동구
443    강동구
444    강동구
445    강동구
446    강동구
Name: 자치구, Length: 447, dtype: object

In [1]:
# 숫자 표기 시 따옴표로 인해 자료형 변경이 불가능

In [178]:
# 저장
seoul_business.to_csv("seoul_business.csv", index = False)

In [179]:
# 읽어올 때 옵션으로 따옴표 제거
seoul_business=pd.read_csv('seoul_business.csv',sep=',',encoding='UTF-8',thousands=',')

In [180]:
seoul_business.head(10)

,택시운송업 사업체수,택시운송업 종사자수,한식 일반 음식점업 사업체수,한식 일반 음식점업 종사자수,용달 화물자동차 운송업 사업체수,용달 화물자동차 운송업 종사자수,부동산 중개 및 대리업 사업체수,부동산 중개 및 대리업 종사자수,두발미용업 사업체수,두발미용업 종사자수,커피전문점 사업체수,커피전문점 종사자수,남녀용 겉옷 및 셔츠 도매업 사업체수,남녀용 겉옷 및 셔츠 도매업 종사자수,기타주점업 사업체수,기타주점업 종사자수,일반 교과 학원 사업체수,일반 교과 학원 종사자수,한식 육류요리 전문점 사업체수,한식 육류요리 전문점 종사자수
0,7,7,230,982,12,12,57,96,28,66,124,525,2,18,74,177,9,34,45,220
1,5,5,42,145,4,4,9,10,0,0,66,243,2,3,3,8,0,0,7,33
2,22,22,26,100,9,9,17,26,8,10,24,62,3,6,7,23,16,59,3,15
3,10,10,31,116,11,11,33,52,19,28,19,62,2,4,26,54,25,71,10,103
4,10,10,10,26,410,416,12,17,9,10,7,15,0,0,0,0,14,50,1,2
5,14,14,14,44,7,7,26,37,11,25,13,55,0,0,1,1,5,22,3,15
6,9,9,57,270,7,7,16,23,8,8,46,133,2,2,5,9,3,10,6,21
7,1,1,565,2396,3,11,111,271,37,81,284,1360,210,376,237,674,8,50,192,996
8,6,6,176,542,11,25,71,84,17,25,72,197,71,192,36,74,0,0,51,204
9,4,4,71,395,17,17,13,13,8,32,69,338,9,127,27,108,2,14,11,45

In [181]:
seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   택시운송업 사업체수            447 non-null    int64
 1   택시운송업 종사자수            447 non-null    int64
 2   한식 일반 음식점업 사업체수       447 non-null    int64
 3   한식 일반 음식점업 종사자수       447 non-null    int64
 4   용달 화물자동차 운송업 사업체수     447 non-null    int64
 5   용달 화물자동차 운송업 종사자수     447 non-null    int64
 6   부동산 중개 및 대리업 사업체수     447 non-null    int64
 7   부동산 중개 및 대리업 종사자수     447 non-null    int64
 8   두발미용업 사업체수            447 non-null    int64
 9   두발미용업 종사자수            447 non-null    int64
 10  커피전문점 사업체수            447 non-null    int64
 11  커피전문점 종사자수            447 non-null    int64
 12  남녀용 겉옷 및 셔츠 도매업 사업체수  447 non-null    int64
 13  남녀용 겉옷 및 셔츠 도매업 종사자수  447 non-null    int64
 14  기타주점업 사업체수            447 non-null    int64
 15  기타주점업 종사자수            447 non-null    int64
 16  일반 교과 학원 사업체수         447 non-null    int64
 17  일반 교과 학원 종사자수         447 non-null    int64
 18  한식 육류요리 전문점 사업체수      447 non-null    int64
 19  한식 육류요리 전문점 종사자수      447 non-null    int64
dtypes: int64(20)
memory usage: 70.0 KB

In [191]:
# 저장해둔 구 열과 병합
seoul_business1=pd.concat([seoul_business,seoul_business_gu],axis=1)

In [193]:
seoul_business1.head()

,택시운송업 사업체수,택시운송업 종사자수,한식 일반 음식점업 사업체수,한식 일반 음식점업 종사자수,용달 화물자동차 운송업 사업체수,용달 화물자동차 운송업 종사자수,부동산 중개 및 대리업 사업체수,부동산 중개 및 대리업 종사자수,두발미용업 사업체수,두발미용업 종사자수,...,커피전문점 종사자수,남녀용 겉옷 및 셔츠 도매업 사업체수,남녀용 겉옷 및 셔츠 도매업 종사자수,기타주점업 사업체수,기타주점업 종사자수,일반 교과 학원 사업체수,일반 교과 학원 종사자수,한식 육류요리 전문점 사업체수,한식 육류요리 전문점 종사자수,자치구
0,7,7,230,982,12,12,57,96,28,66,...,525,2,18,74,177,9,34,45,220,종로구
1,5,5,42,145,4,4,9,10,0,0,...,243,2,3,3,8,0,0,7,33,종로구
2,22,22,26,100,9,9,17,26,8,10,...,62,3,6,7,23,16,59,3,15,종로구
3,10,10,31,116,11,11,33,52,19,28,...,62,2,4,26,54,25,71,10,103,종로구
4,10,10,10,26,410,416,12,17,9,10,...,15,0,0,0,0,14,50,1,2,종로구

In [195]:
seoul_business1=seoul_business1.groupby('자치구').sum()

In [204]:
# 해당 데이터프레임을 'df_seoul_business.csv' 파일로 저장하세요.
seoul_business1.to_csv("df_seoul_business.csv", index = False)

---

# 3.데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [201]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

# 한글 폰트 오류 해결
from matplotlib import font_manager,rc
font_path="./malgun.ttf"
font_name=font_manager.FontProperties(fname=font_path).get_name()
rc('font',family=font_name)

## 향후 계획
### 1. 구별 택시운송 수랑 유동인구가 상관관계가 있는지 확인 (택시운송업 수가 많으면 택시를 이용하는 사람들이 많고 버스는 많이 다니지 않을거라 생각)
### 2. 출퇴근 시간에 유동인구가 많은 자치구에 버스정류장이 필요하지않을지 확인
### 3. 20~30대 통근인구가 많은 자치구에 버스정류장이 필요하지않을까 확인
### 4.구당 평균 소득순위와 버스 수 상관관계 확인(잘 사는 곳이 버스 시설도 편한지)
### 5.노령화된 도시의 버스수 확인(노령화 된 곳은 버스가 많이 있을지 없을지 궁금)
### or 신도시와 상관관계(오히려 새로운 곳은 버스가 아직 많이 없는지)